.navBar {
  position: sticky;
  height: 4vw;
  width: 70vw;
  margin-bottom: 2vw;
  background-color: #bda59b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1vw;
}

.brandName {
  position: relative;
  margin-left: 1.5vw;
  color: white;
  font-weight: 800;
}