.content {
  position: relative;
  background-color: #0f162b;
}
.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.moreInfo {
  position: relative;
  width: 70vw;
  background-color: #bda59b;
  padding: 3vw;
  border-radius: 1vw;
  font-size: 1.45vw;
  color: white;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.moreInfoHead {
  position: relative;
  width: 70vw;
  background-color: #bda59b;
  padding: 3vw;
  font-size: 1vw;
  border-radius: 1vw;
  color: white;
  margin: 2vw;
}
